<!-- Navbar -->
<div class="navbar">
  <div class="navbar-container">
    <div class="logo-container"><h1 class="logo">MoviesJS</h1></div>
    <div class="menu-container">
      <ul class="menu-list">
        <li class="menu-list-item active">Home</li>
        <li class="menu-list-item">Movies</li>
        <li class="menu-list-item">Series</li>
        <li class="menu-list-item">Popular</li>
        <li class="menu-list-item">Trends</li>
      </ul>
    </div>
    <div class="profile-container">
      <img class="profile-picture" src="https://www.edmundsgovtech.com/wp-content/uploads/2020/01/default-picture_0_0.png" alt=""/>
      <div class="profile-text-container">
        <button class="dropbtn">
          <span class="profile-text">Profile</span>
          <i class="fas fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">Account</a>
          <a href="#">Logout</a>
        </div>
      </div>
      <div class="toggle">
        <i class="fas fa-moon toggle-icon"></i>
        <i class="fas fa-sun toggle-icon"></i>
        <div class="toggle-ball"></div>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar -->
<div class="sidebar">
  <i class="left-menu-icon fas fa-search"></i>
  <i class="left-menu-icon fas fa-home"></i>
  <i class="left-menu-icon fas fa-users"></i>
  <i class="left-menu-icon fas fa-bookmark"></i>
  <i class="left-menu-icon fas fa-tv"></i>
  <i class="left-menu-icon fas fa-hourglass-start"></i>
  <i class="left-menu-icon fas fa-shopping-cart"></i>
</div>

<!-- Container -->

<div class="container">
  <div class="content-container">
    <!-- Featured Content -->
    <div class="featured-content"
    style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('https://s3-us-west-2.amazonaws.com/flx-editorial-wordpress/wp-content/uploads/2018/03/13153742/RT_300EssentialMovies_700X250.jpg');"
    >
      <img class="featured-title" src="https://lh3.googleusercontent.com/proxy/aBOwLFFzA81sbw9X8_zCHYgP1AHrBiwC_Oa_C2usKNM5aa-VlmzTyulGUrveR7vDEVAJYQvghjA2uo2c5POr9ENK3xlNN61mZ4PXhqwbvtpq0CuAnmUDcX_pg7QNT8LqIQDnvKZfb41k" alt="" />
      <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <button class="featured-button">WATCH</button>
    </div>

    <div class="movie-list-container">
      <h1 class="movie-list-title">NEW RELEASES</h1>
      <div class="movie-list-wrapper">
        <div class="movie-list">

          <div class="movie-list-item">
            <img class="movie-list-item-img" src="https://cdn.shopify.com/s/files/1/1416/8662/products/lolita_1962_original_film_art_f_5000x.jpg?v=1578337107" alt="" />
            <span class="movie-list-item-title">Lolita</span>
            <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <button class="movie-list-item-button">WATCH</button>
          </div>
          <div class="movie-list-item">
              <img class="movie-list-item-img" src="https://i5.walmartimages.com/asr/e14460ed-844c-49a3-8e47-67dbd2750a18.97a251c48b04986d00a0fe9f657d39e0.jpeg" alt="" />
              <span class="movie-list-item-title">2001 A Space Oddessy</span>
              <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="movie-list-item-button">WATCH</button>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="https://images-na.ssl-images-amazon.com/images/I/71sBKgKXOzL._AC_SY741_.jpg" alt="" />
              <span class="movie-list-item-title">Eyes Wide Shut</span>
              <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="movie-list-item-button">WATCH</button>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="https://m.media-amazon.com/images/I/71km38W121L._AC_SS450_.jpg" alt="" />
              <span class="movie-list-item-title">Full Metal Jacket</span>
              <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="movie-list-item-button">WATCH</button>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="https://i5.walmartimages.com/asr/318bb56f-cc88-428d-a1b0-a362df30e2a4_1.9721360c101d050edcf421c109e0603b.jpeg" alt="" />
              <span class="movie-list-item-title">Barry Lyndon</span>
              <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="movie-list-item-button">WATCH</button>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="https://s3.amazonaws.com/criterion-production/films/4da269635a13e714b4021c37b5757fc9/N9wFOGE7IhMyxv0TF5tvzn9bXA6hJ1_large.jpg" alt="" />
              <span class="movie-list-item-title">Paths of Glory</span>
              <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="movie-list-item-button">WATCH</button>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="https://i.ebayimg.com/images/g/vakAAOSwiqBcNR4K/s-l400.jpg" alt="" />
              <span class="movie-list-item-title">Dr. Strangelove</span>
              <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="movie-list-item-button">WATCH</button>
            </div>
            <div class="movie-list-item">
              <img class="movie-list-item-img" src="https://images-na.ssl-images-amazon.com/images/I/71TUj3olRXL._AC_SY741_.jpg" alt="" />
              <span class="movie-list-item-title">A Clockwork Orange</span>
              <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="movie-list-item-button">WATCH</button>
            </div>
        </div>
        <!-- Arrow -->
        <i class="fas fa-chevron-left arrow-left"></i>
        <i class="fas fa-chevron-right arrow-right"></i>
      </div>
    </div>


<!-- Container 2 -->
<div class="movie-list-container">
  <h1 class="movie-list-title">My List</h1>
  <div class="movie-list-wrapper">
    <div class="movie-list">

      <div class="movie-list-item">
        <img class="movie-list-item-img" src="https://cdn.shopify.com/s/files/1/1416/8662/products/lolita_1962_original_film_art_f_5000x.jpg?v=1578337107" alt="" />
        <span class="movie-list-item-title">Lolita</span>
        <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
        <button class="movie-list-item-button">WATCH</button>
      </div>
      <div class="movie-list-item">
          <img class="movie-list-item-img" src="https://i5.walmartimages.com/asr/e14460ed-844c-49a3-8e47-67dbd2750a18.97a251c48b04986d00a0fe9f657d39e0.jpeg" alt="" />
          <span class="movie-list-item-title">2001 A Space Oddessy</span>
          <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <button class="movie-list-item-button">WATCH</button>
        </div>
        <div class="movie-list-item">
          <img class="movie-list-item-img" src="https://images-na.ssl-images-amazon.com/images/I/71sBKgKXOzL._AC_SY741_.jpg" alt="" />
          <span class="movie-list-item-title">Eyes Wide Shut</span>
          <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <button class="movie-list-item-button">WATCH</button>
        </div>
        <div class="movie-list-item">
          <img class="movie-list-item-img" src="https://m.media-amazon.com/images/I/71km38W121L._AC_SS450_.jpg" alt="" />
          <span class="movie-list-item-title">Full Metal Jacket</span>
          <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <button class="movie-list-item-button">WATCH</button>
        </div>
        <div class="movie-list-item">
          <img class="movie-list-item-img" src="https://i5.walmartimages.com/asr/318bb56f-cc88-428d-a1b0-a362df30e2a4_1.9721360c101d050edcf421c109e0603b.jpeg" alt="" />
          <span class="movie-list-item-title">Barry Lyndon</span>
          <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <button class="movie-list-item-button">WATCH</button>
        </div>
        <div class="movie-list-item">
          <img class="movie-list-item-img" src="https://s3.amazonaws.com/criterion-production/films/4da269635a13e714b4021c37b5757fc9/N9wFOGE7IhMyxv0TF5tvzn9bXA6hJ1_large.jpg" alt="" />
          <span class="movie-list-item-title">Paths of Glory</span>
          <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <button class="movie-list-item-button">WATCH</button>
        </div>
        <div class="movie-list-item">
          <img class="movie-list-item-img" src="https://i.ebayimg.com/images/g/vakAAOSwiqBcNR4K/s-l400.jpg" alt="" />
          <span class="movie-list-item-title">Dr. Strangelove</span>
          <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <button class="movie-list-item-button">WATCH</button>
        </div>
        <div class="movie-list-item">
          <img class="movie-list-item-img" src="https://images-na.ssl-images-amazon.com/images/I/71TUj3olRXL._AC_SY741_.jpg" alt="" />
          <span class="movie-list-item-title">A Clockwork Orange</span>
          <p class="movie-list-item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <button class="movie-list-item-button">WATCH</button>
        </div>
    </div>
    <!-- Arrow -->
    <i class="fas fa-chevron-left arrow-left"></i>
    <i class="fas fa-chevron-right arrow-right"></i>
  </div>
</div>


  </div>
</div>
