<!-- Navbar -->
<div class="navbar">
  <div class="navbar-container">
    <div class="logo-container"><h1 class="logo">MoviesJS</h1></div>
    <div class="menu-container">
      <ul class="menu-list">
        <li class="menu-list-item active">Home</li>
        <li class="menu-list-item">Movies</li>
        <li class="menu-list-item">Series</li>
        <li class="menu-list-item">Popular</li>
        <li class="menu-list-item">Trends</li>
      </ul>
    </div>
    <div class="profile-container">
      <img class="profile-picture" src="https://www.edmundsgovtech.com/wp-content/uploads/2020/01/default-picture_0_0.png" alt=""/>
      <div class="profile-text-container">
        <span class="profile-text">Profile</span>
        <i class="fas fa-caret-down"></i>
      </div>
      <div class="toggle">
        <i class="fas fa-moon toggle-icon"></i>
        <i class="fas fa-sun toggle-icon"></i>
        <div class="toggle-ball"></div>
      </div>
    </div>
  </div>
</div>

<!-- Sidebar -->
<div class="sidebar">
  <i class="left-menu-icon fas fa-search"></i>
  <i class="left-menu-icon fas fa-home"></i>
  <i class="left-menu-icon fas fa-users"></i>
  <i class="left-menu-icon fas fa-bookmark"></i>
  <i class="left-menu-icon fas fa-tv"></i>
  <i class="left-menu-icon fas fa-hourglass-start"></i>
  <i class="left-menu-icon fas fa-shopping-cart"></i>
</div>

<!-- Container -->

<div class="container">
  <div class="content-container">
    <div class="featured-content"
    style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('https://s3-us-west-2.amazonaws.com/flx-editorial-wordpress/wp-content/uploads/2018/03/13153742/RT_300EssentialMovies_700X250.jpg');"
    >
      <img class="featured-title" src="https://lh3.googleusercontent.com/proxy/aBOwLFFzA81sbw9X8_zCHYgP1AHrBiwC_Oa_C2usKNM5aa-VlmzTyulGUrveR7vDEVAJYQvghjA2uo2c5POr9ENK3xlNN61mZ4PXhqwbvtpq0CuAnmUDcX_pg7QNT8LqIQDnvKZfb41k" alt="" />
      <p class="featured-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <button class="featured-button">WATCH</button>
    </div>


  </div>
</div>
