// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.navbar{
  /* Black navbar at the top */
  width: 100%;
  height: 50px;
  background-color: black;
}

.navbar-container{
  /* all items will be horizontal */
  display: flex;
  align-items: center;
  /* add padding to display navbar items hidden under sidebar */
  padding: 0 50px;
  /* container height of navbar */
  height: 100%;
  color: white;
  font-family: 'San', sans-serif;
}

.logo-container{
  flex: 1;
}

.logo{
  font-size: 30px;
  color: #4dbf00;
}

.menu-container{
  /* 6 times larger than logo-container */
  flex: 6;
}

.menu-list{
  /* makes horizontal */
  display: flex;
  /* removes dot style from list */
  list-style: none;
}

.menu-list-item{
  /* adds a margin around list items */
  margin-right: 30px;
}

.menu-list-item.active{
  font-weight: bold;
}

.profile-container{
  flex: 2;
  display: flex;
  align-items: center;
  /* moves profile content to the right */
  justify-content: flex-end;
}

.profile-text-container{
  /* sets margin on profile but text only */
  margin: 0 20px;
}

.profile-picture{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* makes image not look smashed */
  object-fit: cover;
}

.toggle{
  /* create toggle style */
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  /* puts a space around the sun and moon icons */
  justify-content: space-around;
  /* so toggle ball will display */
  position: relative;
}

.toggle-icon{
  /* allows icons to show */
  color: goldenrod;
}

.toggle-ball{
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all
}

.sidebar{
  /* Black sidebar on left side */
  width: 50px;
  height: 100%;
  background-color: black;
  /* fixes sidebar so when scrolling sidebar will always be shown */
  position: fixed;
  /* removes excess sidebar by pushng to top corner */
  top: 0;
  display: flex;
  /* makes icons verticel */
  flex-direction: column;
  align-items: center;
  /* lowers sidebar icons sidebar */
  padding-top: 60px;
}


.left-menu-icon{
  color: white;
  font-size: 20px;
  /* space around icons */
  margin-bottom: 40px;
}

.container{
  background-color: #151515;
  /* calculate the height to adjust for navbar */
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container{
  /* adjust margin to account for sidebar */
  margin-left: 50px;
}

.featured-content{
  height: 50vh;
  padding: 50px;
}

.featured-title{
  width: 200px;
}

.featured-desc{
  width: 500px;
  color: lightgrey;
  margin: 30px 0;
}

.featured-button{
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container{
  padding: 0 20px;
}

.movie-list-wrapper{
  position: relative;
  /* prevent when arrow clicked from overflow */
  overflow: hidden;
}

.movie-list{
  display: flex;
  align-items: center;
  height: 300px;
  /* add to be able to use computedStyleMap transform */
  transform: translateX(0);
  /* each arrow click smooth slide */
  transition: all 1s ease-in-out;
}

.movie-list-item{
  margin-right: 30px;
  position: relative;
}

/* when cursor over title change scale */
.movie-list-item:hover .movie-list-item-img{
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
  opacity: 1;
}
.movie-list-item-img{
  width: 270px;
  height: 200px;
  object-fit: cover;
  /* when hover make transition smoother */
  transition: all 1s ease-in-out;
  border-radius: 20px;
}

.movie-list-item-title{
  background-color: #333;
  padding: 0 10px;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc{
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button{
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow-right{
  font-size: 120px;
  position: absolute;
  /* position arrow */
  top: 90px;
  /* set arrow to the right */
  right: 0;
  color: lightgray;
  opacity: .5;
  cursor: pointer;
}

.arrow-left{
  font-size: 120px;
  position: absolute;
  /* position arrow */
  top: 90px;
  /* set arrow to the right */
  left: 0;
  color: lightgray;
  opacity: .5;
  cursor: pointer;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;
  color: black;
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: black;
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

/* adapt for changing/ smaller screens */
@media only screen and (max-width: 940px){
  .menu-container{
    display: none;
  }
}
